body {
    width: 500px;
}

button {
    cursor: pointer;
}

#setting {
    height: fit-content;
    width: 100%;
    padding: 10px;
    background-color: #FEFFD3;
}

#operate {
    height: fit-content;
    width: 100%;
    padding: 10px;
}

#operate > ._content {
    width: fit-content;
}

#operate > ._content > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.line_unit {
    height: 32px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.line_unit > button {
    width: 120px;
    height: 28px;
    margin: 2px;
}

.line_unit > span._content {
    width: 200px;
    height: 32px;
    border: solid #9A9A9A 1px;
    margin-left: 5px;
}

#grp1 .line_unit > span._content {
    background-color: #00FF00;
}

#grp2 .line_unit > button {
    width: 57px;
}

.line_unit > span._msg {
    flex: 1;
}

.switch {
    background: #E2E2E2;
    border: 3px solid #9A9A9A;
    border-radius: 20px;
    height: 20px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
}

.switch.unclick {
}

.switch.click {
    background-color: #A9A9FF;
}

.switch:before {
    content: '';
    background: #E2E2E2;
    border: 2px solid #4A4A4A;
    border-radius: 16px;
    height: 16px;
    width: 16px;
    float: left;
    display: inline-block;
}

.switch.click:before {
    float: right;
}

